.discuss
  .question
    Mailing Lists
  .answer
    %a{:href => 'http://groups.google.com/group/memcached'}
      http://groups.google.com/group/memcached
    .answer
      the official mailing list for developers and users, since July 2008
      
    %a{:href => 'http://lists.danga.com/pipermail/memcached'}
      mailing list archives
    .answer
      lots of classic, good advice, before July 2008

  .question
    IRC
  .answer
    irc.freenode.net #memcached

  .question
    Talks
  .answer
    A lot of people in the community talk about memcached 
    at all sorts of great conferences and events. 
    If you do talk about memcached, 
    we encourage you to upload your presentation on SlideShare 
    and tag it 'memcached'. 
    This allows everyone to easily find 
    %a{:href => 'http://www.slideshare.net/search/slideshow?lang=en&q=memcached'}
      presentations about memcached

  .question
    Blogging
  .answer
    When blogging, we recommend that you use the tag 'memcached' 
    so that your posts can be picked up by the community. 

  .question
    Hackathons
  .answer
    %a{:href => 'http://www.socialtext.net/memcached/index.cgi?hackathon'}
      Hackathons
    .answer
      dates and topics on the proposed hackathons and previous hackathon notes

