@import url(blueprint/screen.css);
body {
  margin: 0;
  padding-top: 20px;
  background: white; }

body .header .header_title {
  color: #7070d0;
  letter-spacing: 0.1em;
  text-align: center;
  width: auto;
  font-size: 20pt;
  font-weight: bold; }
body .header ul {
  text-align: center;
  width: auto; }
  body .header ul li {
    display: inline;
    padding-left: .5em;
    padding-right: .5em; }
body .container {
  max-width: 650px;
  margin: auto;
  background: white;
  padding: 0; }
body .footer {
  margin: 40px 0 0 0;
  font-size: 0.8em; }

.question {
  margin: 0 0.5em 0;
  border-bottom: 2px dotted blue;
  background: #e0e0ff;
  padding-left: 0.5em;
  font-size: 13pt;
  font-style: italic;
  font-weight: bold; }

.answer {
  margin: 0 10px 10px 2em; }
  .answer .example {
    margin-top: 10px;
    background: #d0d0f0;
    padding-left: 10px;
    font-family: sans-serif;
    font-weight: bold; }
    .answer .example pre {
      background: #e0e0e0; }
