.headline
  .left
    %h2
      memcached is...

    memcached is an open source, high-performance, distributed 
    memory object caching system that can stop website death
    and make your users happy.
    Read more <a href="/about">about memcached</a>.

  .middle
    %h2
      folks using memcached...
    %ul
      %li
        Yahoo!
      %li
        Facebook
      %li
        My Space
      %li
        Wikipedia
      %li
        and many others

  .right
    .download
      .title
        Download memcached
      .title_sub
        The latest stable release is
      .version
        1.2.6
      .release_notes
        <a href="#">release notes</a> (2008/09/10)
      <a href="#">Other download options</a>
      <a href="#">Source and History</a>

.quickstart
  .title
    memcached Quick Start

  .left
    %h2
      Starting memcached

    \$ memcached

  .middle
    %h2
      folks using memcached...

  .right
    .download
      .title
        Download memcached
      .title_sub
        The latest stable release is
      .version
        1.2.6
      .release_notes
        <a href="#">release notes</a> (2008/09/10)
      <a href="#">Other download options</a>
      <a href="#">Source and History</a>

.learnmore

