.download_changes
  .left
    %h2
      memcached Server Change History 

    .answer
      Source repository <a href="http://consoleninja.net/gitweb/gitweb.cgi?p=memcached.git;a=blob_plain;f=ChangeLog;hb=HEAD">detailed change log</a>.
      <br/><br/>

      %dl
        = render :partial => "changes"

  .right
    = render :partial => "shared/download"
    = render :partial => "shared/download_clients"
