.download
  .left
    %h2
      Download memcached Server

    .answer
      %p
        The server is licensed under the BSD License.
      
      Main (1.2.x) series:
      %ul
        %li
          %b
            <a href="http://danga.com/memcached/dist/memcached-1.2.6.tar.gz">memcached-1.2.6.tar.gz</a> 
          \-- 2008/07/29 [<a href="/download/changes">Changes</a>] 
      
      Old (1.1.x) series, now maintenance releases only:
      %ul
        %li
          %b
            <a href="http://danga.com/memcached/dist/memcached-1.1.13.tar.gz">memcached-1.1.13.tar.gz</a> 
          \-- 2006/09/09 
          [<a href="http://code.sixapart.com/svn/memcached/tags/1.1.13/ChangeLog">Changes</a>] 
  
      Archive of  
      %a{:href => 'http://danga.com/memcached/dist/'}
        previous versions
      
    %h2
      Server source repository

    .answer  
      Subversion
      %ul
        %li
          <a href="http://code.sixapart.com/svn/memcached/">Subversion repository</a> 
          [<a href="http://code.sixapart.com/trac/memcached/log">svn log</a>]
     
      Git
      %ul
        %li
          <a href="http://consoleninja.net/code/memcached/memcached.git">
          Git stable tree</a> 
          [<a href="http://consoleninja.net/gitweb/gitweb.cgi?p=memcached.git;a=summary">gitweb</a>]
        %li
          <a href="http://github.com/dustin/memcached/tree/master">
          Dustin salling's tree</a> (master binary protocol branch)
        %li
          <a href="http://github.com/tmaesaka/memcached/tree/master">
          Toru Maesaka's tree</a> (master storage engine branch)
      
      .example
        Quick git tutorial: 
        %pre
          :preserve
            git clone git://github.com/dustin/memcached.git
            // 'master' is tracking Dustin's tree.
            // create a branch:
            git checkout -b newbranch
            // work work work, and then:
            git commit -a
            // update the tree:
            git pull
        Working with a branch tree:
        %pre
          :preserve
            git clone git://github.com/dustin/memcached.git
            git branch -r (show remote branches)
            git checkout --track -b lbinary dustin/binary
            etc.
  
      <a href="http://git-scm.com">Git documentation</a><br/>

  .right
    = render :partial => "shared/download"
    = render :partial => "shared/download_clients"
