@import blueprint/screen.css

a
  :text-decoration none
a:hover
  :text-decoration underline

.container
  :max-width 650px
  :margin auto
  .header
    .header_title
      :color #7070d0
      :letter-spacing 0.1em
      :text-align center
      :width auto
      :font-size 20pt
      :font-weight bold
      a
        :color #7070d0
    ul
      :text-align center
      :width auto
      li
        :display inline
        :padding-left .5em
        :padding-right .5em
  .content
    :border-top 1px solid #e0e0ff
    :padding-top 15px
  .footer
    :clear both
    :margin 40px 0 0 0
    :font-size 0.8em

.left
  :float left
  :margin 0 10px 10px 0
  :padding 10px 15px 10px 15px
.middle
  :float left
  :margin 0 10px 10px 0
  :padding 10px 15px 10px 15px
.right
  :float left
  :margin 0 0 10px 0
  :padding 10px 15px 10px 15px

.welcome
  .top_blocks
    .left
      :width 240px
      :height 180px
      :background #e0e0ff
      h1
        :font-size 1.8em
        :font-weight bold
        :padding-top 10px
        :padding-bottom 10px
    .middle
      :width 130px
      :height 180px
      h2
        :font-size 1.2em
        :font-weight bold
    .right
      :width 170px
      :height 180px
      :padding 0 0 0 0
  
  .mid_blocks
    :clear both
    :padding-top 15px
    .left
      :width 440px
      :padding 0 0
      h2
        :margin 0 0
        :padding .2em 1em .2em 1em
        :background #e0e0ff
        :color #7070d0
        :font-size 1.2em
        :font-weight bold
        a
          :color #7070d0
          :font-weight normal
          :font-size .75em
    .right
      :width 170px
      :padding 0 15px 0 15px
      h2
        :font-size 1.2em
        :font-weight bold
  
  .bottom_blocks
    :clear both
    :background #c0c0ff
    :padding 10px 0 10px 0
    :text-align center
    a
      :font-size 1.2em
      :font-weight bold
  
.download_block
  :width 170px
  :height 180px
  :background #a0e0b0
  :padding 10px 15px 10px 15px
  h2
    :font-size 1.2em
    :font-weight bold
  .download_block_center
    :height 120px
    :background #e0e0ff
    :padding 10px 15px 10px 15px
    :text-align center
    .release_number
      :font-weight bold
      :font-size 1.5em
      :color #7070d0
    .download_options
      :margin-top 10px

.blog_entries
  :padding-bottom 20px

.blog_entry
  :clear both
  :margin-top 15px
  a
    :color #7070d0
  img
    :float left
    :width 50px
    :height 50px
    :margin 0 10px 10px 0
    :border 1px solid #7070d0
    :padding 5px 5px 5px 5px

.blog_author
  :clear both
  :margin-top 5px

blockquote
  label
    :display block
    :text-align right
    a
      :font-weight normal

.have_questions
  :padding 15px 0 0 20px

.production_users
  a
    :font-weight bold

.question
  :margin-top 1em
  :margin-bottom .5em
  :background #e0e0ff
  :border-bottom 2px dotted blue
  :padding-left 0.5em
  :font-size 13pt
  :font-style italic
  :font-weight bold

.answer
  :padding .5em 2em .5em 2em
  .example
    :margin-top 10px
    :background #d0d0f0
    :padding-left 10px
    :font-family sans-serif
    :font-weight bold
    pre
      :background #e0e0e0
