.small_block.download_block
  %h2
    Download Server
  .small_block_center.download_block_center
    latest memcached server release is
    .release_number
      %a{:href => "http://www.danga.com/memcached/dist/memcached-1.2.6.tar.gz"}
        v1.2.6
    .release_notes
      2008/07/29 - 
      %a{:href => "/download/changes"}
        changes
    .download_options
      %a{:href => '/download'}
        = 'Source and History'
