.small_block.download_clients
  %h2 
    Download Clients
  .small_block_center.download_clients_center
    Download 
    %a{:href => '/doc/main/Clients'}
      client libraries
    for your favorite programming language
    (php, ruby, python, perl, C/C++, C#, and more)
