.download_block
  %h2
    Download memcached
  .download_block_center
    The latest release is
    .release_number
      %a{:href => "http://www.danga.com/memcached/dist/memcached-1.2.6.tar.gz"}
        v1.2.6
    .release_notes
      2008/07/28 - 
      %a{:href => "http://www.danga.com/memcached/news.bml"}
        changes
    .download_options
      %a{:href => '/download'}
        = 'Source and History'
