.blog_post
  %h3
    %a{:href => 'http://amix.dk/blog/viewEntry/19356'}
      A peek at memcached's implementation 
  %img{:src => 'http://tbn0.google.com/images?q=tbn:4fi33HXx0UfzkM:http://forums.cacti.net/files/memcached_933.jpg'}

  I am a huge fan of memcached and we use it a lot on Plurk.
  <br/><br/>
  Why to like memcached:  

  %a{:href => "http://amix.dk/blog/viewEntry/19356"}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://amix.dk/'}
      Amir Salihefendic
    on: 2008/10/21

.blog_post
  %h3
    %a{:href => 'http://www.webyantra.net/2008/10/04/seven-stages-of-scaling-web-applications/'}
      Seven Stages of Scaling Web Applications 
  %img{:src => 'http://www.webyantra.net/wp-content/uploads/2008/07/amit_mugshotabc.jpg'}

  Startups that are grappling with the challenges of scaling their webapp 
  would do well to check out this awesome slide deck about scalability 
  from the CTO of Rackspace, one of the high end web hosting companies. 
  Delivered at the LinuxWorld conference in August earlier this year, 
  the deck lays down a framework for webapp scalability, 
  milestoning each stage in terms of commonly identified tasks.

  %a{:href => "http://www.webyantra.net/2008/10/04/seven-stages-of-scaling-web-applications/"}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://www.webyantra.net'}
      Amit Ranjan
    on: 2008/10/04

.blog_post
  %h3
    %a{:href => 'http://brian.moonspot.net/2008/10/03/deploying-scalable-websites-with-memcached/'}
      Deploying Scalable Websites with Memcached
  %img{:src => 'http://s3.amazonaws.com/twitter_production/profile_images/53683584/IMGP8142_bigger.jpg'}

  I spoke at the MySQL Conference and Expo this year about the architecture 
  we have here at dealnews.com.  
  After my talk, Jimmy Guerrero of Sun/MySQL invited me to give a webinar 
  on how dealnews uses memcached.  
  That is taking place next week, Thursday, October 09, 2008.  
  It is a free webinar.  
  We have used memcached in a variety of ways as we have grown. 
  So, I will be talking about how dealnews used memcached in the past and present.

  %a{:href => "http://brian.moonspot.net/2008/10/03/deploying-scalable-websites-with-memcached/"}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://brian.moonspot.net'}
      Brian Moon
    on: 2008/10/03

.blog_post
  %h3
    %a{:href => 'http://100days.de/serendipity/archives/55-Dumping-MemcacheD-Content-Keys-with-PHP.html'}
      Dumping MemcacheD Content (Keys) with PHP
  %img{:src => 'http://tbn0.google.com/images?q=tbn:4fi33HXx0UfzkM:http://forums.cacti.net/files/memcached_933.jpg'}

  MemcacheD is a very cool piece of software. 
  When i did some optimization of a cluster based webapp lately, 
  i was wondering how Memcache was speading my cache entries over the cluster. 
  So i did some research for monitoring tools. 
  A simple approach to monitoring would be to use Cacti to monitor status values like Cache usage, 
  hits/sec etc. 
  This can be done by a template like this. 
  An alternative was provided by Harun Yayli: 
  His memcache.php which somewhat resembles the APC status page 
  and now is a part of PECL/memcache is easy to setup and works well. 
  It also allows to dive into the data structures but you need to decide for one server first, 
  then click into a "Slab" and then you see the keys. 
  <br/><br/>
  Inspired by this, i wrote a small script that fetches all data from a memcache cluster, 
  gets all keys out of it and then sorts and displays them in a list. 
  Yes it it ugly and yes: the memcacheD is not answering other requests while doing a cachedump. 
  But i found it very useful. 

  %a{:href => "http://100days.de/serendipity/archives/55-Dumping-MemcacheD-Content-Keys-with-PHP.html"}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://100days.de/serendipity'}
      Gaylord Aulke
    on: 2008/08/28

.blog_post
  %h3
    %a{:href => 'http://dormando.livejournal.com/496639.html'}
      Should you cache?
  %img{:src => 'http://p-userpic.livejournal.com/66703879/3594'}

  Should you use memcached? Should you just shard mysql more?
  <br/><br/>
  Memcached's popularity is expanding its use into some odd places. 
  It's becoming an authoritative datastore for some large sites, 
  and almost more importantly it's sneaking into the lowly web startup. 
  This is causing some discussion.

  %a{:href => "http://dormando.livejournal.com/496639.html"}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://dormando.livejournal.com/'}
      Alan Kasindorf
    on: 2008/08/17

.blog_post
  %h3
    %a{:href => 'http://dormando.livejournal.com/495593.html'}
      Cache your sessions. Don't piss off your users
  %img{:src => 'http://p-userpic.livejournal.com/66703879/3594'}

  I hope you're all enjoying the 1.2.6 stable release of memcached. 
  Don't want to hear no whining about it crashing!
  <br/><br/>
  One of the most common questions in memcached land is the ever 
  obnoxious "how do I put my sessions in memcached?". 
  The long standing answer is usually "you don't", or "carefully", 
  but people often walk the dark path instead. 
  Many libraries do this as well, although I've seen at least one which gets it.
  
  %a{:href => "http://dormando.livejournal.com/495593.html"}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://dormando.livejournal.com/'}
      Alan Kasindorf
    on: 2008/08/09

.blog_post
  %h3
    %a{:href => 'http://www.pablowe.net/2008/07/06/memcached/'}
      Memcached 
  %img{:src => 'http://tbn0.google.com/images?q=tbn:4fi33HXx0UfzkM:http://forums.cacti.net/files/memcached_933.jpg'}

  The other day I was watching a 
  Memcached Webinar sponsored by MySQL, 
  and it got me thinking about memcached from an operational perspective.
  <br/><br/>
  It seems to me that the implementation patterns for memcached 
  are fairly well codified in the standard body of knowledge. 
  What does NOT appear to be in the standard BoK is how to 
  build a supporting infrastructure behind memcached to 
  ensure that it is an effective and reliable component 
  of the application architecture.

  %a{:href => "http://www.pablowe.net/2008/07/06/memcached/"}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://www.pablowe.net'}
      Pablowe
    on: 2008/07/06

.blog_post
  %h3
    %a{:href => 'http://tmaesaka.vox.com/library/post/memcached-users-group-in-japan.html'}
      memcached Users Group in Japan
  %img{:src => 'http://a7.vox.com/6a00d4141a09476a4700fa968cae470003-50si'}

  So memcached is used to scale and improve the performance 
  of almost every large websites that you love. 
  This is not an exception for Japan either. 
  For example, mixi, the largest social networking website in Japan 
  rely greatly on memcached. 
  I also know handful of other large websites here in Japan that utilizes memcached, 
  though I will keep them unnamed for now.
  <br/><br/>
  Considering the amount of questions that flow through the memcached mailing list 
  and IRC, I haven't seen many (if not any) questions being thrown 
  by a Japanese developer. 
  Why? IMHO there are three possible reasons behind this:

  %a{:href => "http://tmaesaka.vox.com/library/post/memcached-users-group-in-japan.html"}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://tmaesaka.vox.com'}
      Toru Maesaka
    on: 2008/06/25

.blog_post
  %h3
    %a{:href => 'http://www.philchen.com/2008/06/18/how-much-can-a-memcached-server-handle/'}
      How much can a memcached server handle?
  %img{:src => 'http://www.philchen.com/globalimages/pclogo.gif'}

  Memcached is a high-performance, distributed memory object caching system. 
  It is used in a wide range of sites such as livejournal.com and facebook.com 
  as a way to alleviate database load helping to speed up sites. 
  Memcached is usually deployed as an adequate subset of servers 
  in relation to your application and database infrastructure. 
  It's a great way to cut down your database calls by caching the requests.
  <br/><br/>
  The servers are not load balanced in any least connections or 
  response time fashion, but instead using a Hashing/Key Distribution. 
  So in other words it spreads out cache across all the 
  memcached servers not redundantly. 
  A hash table allows the application to locate where cache exists. 
  Utilizing a lazy expiration, cpu is not a factor for expiring items. 
  An item gets requested it checks the expiration time to see 
  if the item is still valid prior to returning it to the client. 
  When adding a new item to the cache, 
  if the cache is full it will look out for expired items 
  to replace before replacing the least used items in the cache. 
  You can read more about it at the memcached site.

  %a{:href => "http://www.philchen.com/2008/06/18/how-much-can-a-memcached-server-handle/"}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://www.philchen.com'}
      Phil Chen
    on: 2008/06/18

.blog_post
  %h3
    %a{:href => 'http://alexle.net/archives/275'}
      Installing Memcached from Source on CentOS 5 
  %img{:src => 'http://tbn0.google.com/images?q=tbn:4fi33HXx0UfzkM:http://forums.cacti.net/files/memcached_933.jpg'}

  This is a quick summary for this process so that 
  I can refer to it later on, 
  and hopefully someone will find it useful as well.
  <br/><br/>
  Memcached requires libevent to handle its network IO stuff. 
  The bundled libevent in the standard yum repository is old 
  so it's pretty useless. 
  The newer versions memcached runs on newer libevent library 
  so I ended up compiling libevent and memcached from the 
  latest stable sources. 

  %a{:href => "http://alexle.net/archives/275"}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://alexle.net/'}
      Alex Le
    on: 2008/05/29

.blog_post
  %h3
    %a{:href => 'http://www.grepmymind.com/2008/04/14/mysql-conf-2008-memcached-day-1/'}
      MySQL Conf 2008 - Memcached (Day 1)
  %img{:src => 'http://profile.ak.facebook.com/profile5/390/16/s582491693_5344.jpg'}

  The session I'm attending this afternoon is Memcached and MySQL: 
  Everything You Need To Know. 
  I'm really looking forward to this talk. 
  For whatever geeky reason I think Memcached is the coolest. ;)
  
  %a{:href => "http://www.grepmymind.com/2008/04/14/mysql-conf-2008-memcached-day-1/"}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://www.grepmymind.com'}
      Michael Tougeron
    on: 2008/04/14

.blog_post
  %h3
    %a{:href => 'http://broddlit.wordpress.com/2008/04/09/memcached-as-simple-message-queue/'}
      memcached as simple message queue
  %img{:src => 'http://a.wordpress.com/avatar/i730-48.jpg'}

  Some months ago at work we were in the need of a message queue, 
  a very simple one, basically just a message buffer. 
  The idea is simple, the webservers send there messages to the queue, 
  the queue always accepts all messages and 
  waits until the ETL processes request messages for further processing. 
  As the webservers are time critical and the ETL processes aren't you need something in between.
  <br/><br/>
  We realized that there are not too many solutions out there for this kind of problem. 
  Although we found a fully featured message queue from the Apache Foundation, 
  called ActiveMQ. 
  This one had far too many features for us, 
  but as long as you can use it in a simple way why not give it a try?
  
  %a{:href => "http://broddlit.wordpress.com/2008/04/09/memcached-as-simple-message-queue/"}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://broddlit.wordpress.com'}
      Olly
    on: 2008/04/09

.blog_post
  %h3
    %a{:href => 'http://dormando.livejournal.com/485610.html'}
      Memcached 1.2.5
  %img{:src => 'http://p-userpic.livejournal.com/66703879/3594'}

  This is absolutely the most awesome release of memcached ever, 
  and it has absolutely nothing to do with me being a patchmonkey for it.
  <br/><br/>
  Kudos to MySQL and Sun (like [info]krow) for jumping in on the fun.
  
  %a{:href => "http://dormando.livejournal.com/485610.html"}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://dormando.livejournal.com/'}
      Alan Kasindorf
    on: 2008/03/04

.blog_post
  %h3
    %a{:href => 'http://tmaesaka.vox.com/library/post/thoughts-on-making-memcached-modular.html'}
      Thoughts on making memcached modular
  %img{:src => 'http://a7.vox.com/6a00d4141a09476a4700fa968cae470003-50si'}

  Although its been a week or two since my multi-storage 
  modification was announced in the memcached mailing list (thanks Brian), 
  figured I should write my thoughts and not just code on this matter.
  <br/><br/>
  The aim simply is to achieve a network platform that can be widely 
  used in the web industry. 
  By meaning "network platform", 
  I am trying to emphasize that what can be plugged to memcached 
  doesn't necessarily need to be a storage engine.

  %a{:href => "http://tmaesaka.vox.com/library/post/thoughts-on-making-memcached-modular.html"}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://tmaesaka.vox.com'}
      Toru Maesaka
    on: 2008/02/13

.blog_post
  %h3
    %a{:href => 'http://www.igvita.com/2008/02/11/nginx-and-memcached-a-400-boost/'}
      Nginx and Memcached, a 400% boost!
  %img{:src => 'http://www.igvita.com/misc/ilya.jpg'}

  If web architectures, performance, or scalability are topics 
  you would like to keep on top of (who doesn't!), then chances are, 
  you've heard of Nginx ("engine x"). 
  Originally developed by Igor Sysoev for rambler.ru 
  (second largest Russian web-site), 
  it is a high-performance HTTP server / reverse proxy known for its stability, 
  performance, and ease of use. 
  The great track record, a lot of great modules, 
  and an active development community have 
  rightfully earned it a steady uptick of users, 
  and most recently, a notable mention in the Netcraft report.
  <br/><br/>
  Memcached module - an easy 4x speed multiplier
  
  %a{:href => "http://www.igvita.com/2008/02/11/nginx-and-memcached-a-400-boost/"}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://www.igvita.com'}
      Ilya Grigorik
    on: 2008/02/11

.blog_post
  %h3
    %a{:href => 'http://dormando.livejournal.com/484577.html'}
      Dormando's [crappy] Operations Mantras
  %img{:src => 'http://p-userpic.livejournal.com/66703879/3594'}

  Ops Mantras (as made popular by Dormando).
  <br/><br/>
  I've been doing this shit for a while now. 
  I'm presently acting as a MySQL DBA for SixApart, 
  but these views are mine and not of my employer. 
  This is an omega post of all of the generalized one off mantras 
  I find valuable when approaching operations management. 
  Even if these end up being idealistic, 
  my humble view is to shoot for these and 
  you'll be better off with what you end up with.
  
  %a{:href => "http://dormando.livejournal.com/484577.html"}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://dormando.livejournal.com/'}
      Alan Kasindorf
    on: 2008/02/03

.blog_post
  %h3
    %a{:href => 'http://www.grepmymind.com/2008/01/11/memcached-php-semaphore-cache-expiration-handling/'}
      memcached PHP semaphore &amp; cache expiration handling
  %img{:src => 'http://profile.ak.facebook.com/profile5/390/16/s582491693_5344.jpg'}

  There are a lot of different ways that people use memcached and PHP. 
  <br/><br/>
  The most common of which is probably your basic set and get to cache data from your database.
  
  %a{:href => "http://www.grepmymind.com/2008/01/11/memcached-php-semaphore-cache-expiration-handling/"}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://www.grepmymind.com'}
      Michael Tougeron
    on: 2008/01/11

.blog_post
  %h3
    %a{:href => 'http://dormando.livejournal.com/482494.html'}
      Happy new year! DPM, memcached, etc
  %img{:src => 'http://p-userpic.livejournal.com/66703879/3594'}

  r5 of DPM will appear ... tomorrow! 
  It's close now, but I'ma go party a bit. 
  There's new code in HEAD if you're bored.
  <br/><br/>
  New stuff:
  
  %a{:href => "http://dormando.livejournal.com/482494.html"}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://dormando.livejournal.com/'}
      Alan Kasindorf
    on: 2007/12/31

.blog_post
  %h3
    %a{:href => 'http://smoothspan.wordpress.com/2007/09/23/memcached-when-you-absolutely-positively-have-to-get-it-to-scale-the-next-day/'}
      Memcached: When You Absolutely Positively Have to Get It To Scale the Next Day 
  %img{:src => 'http://www.smoothspan.com/img/BobJacketThumb.jpg'}

  Why should "Executives, Entrepreneurs, and other Digerati 
  who need to know about SaaS and Web 2.0" care about a piece of technology like memcached?  
  Because it just might save your bacon, that's why. 
  <br/><br/> 
  Suppose your team have just finished working feverishly to implement "Virus-a-Go-Go", 
  your new Facebook widget that is guaranteed to soar to the top of the charts.  
  You launch it, and sure enough you were right.  
  Zillions of hits are suddenly raining down on your new widget. 
  
  %a{:href => 'http://smoothspan.wordpress.com/2007/09/23/memcached-when-you-absolutely-positively-have-to-get-it-to-scale-the-next-day/'}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://smoothspan.wordpress.com'}
      Bob Warfield
    on: 2007/09/23

.blog_post
  %h3
    %a{:href => 'http://www.search-this.com/2007/07/24/an-introduction-to-memcached/'}
      An Introduction to memcached
  %img{:src => 'http://tbn0.google.com/images?q=tbn:4fi33HXx0UfzkM:http://forums.cacti.net/files/memcached_933.jpg'}

  "Caching" is a term you've probably heard mentioned before in various 
  places (including this site). 
  The idea behind caching is to store a copy of some 
  piece of data so you can re-use it again later 
  without jumping through whatever hoops you had to go through 
  the first time to get it. 
  There are different ways you can cache data (queries, objects, etc) 
  and different medium in which you can store 
  the cache (files, database, memory). 
  Any way you do it, the main goal of caching is to 
  increase the performance of your site or application. 
  In many cases caching is used to lessen the amount of interaction with the database, 
  which increases performance and decreases the load on your server.

  %a{:href => 'http://www.search-this.com/2007/07/24/an-introduction-to-memcached/'}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://www.search-this.com'}
      MrSpooky
    on: 2007/07/24

.blog_post
  %h3
    %a{:href => 'http://blog.leetsoft.com/2007/5/22/the-secret-to-memcached'}
      The Secret to Memcached
  %img{:src => 'http://tbn0.google.com/images?q=tbn:Ktj_oxmvQ9OOFM:http://farm2.static.flickr.com/1006/826974041_30c0a61732.jpg%3Fv%3D0'}

  Memcached has long been the answer to most questions containing the word scale. 
  There are some spectacular memcached installations out there. 
  Facebook is said to run a 200 server with 3TB of memory solely for servicing memcached; 
  Shopify, twitter, digg, Slashdot and just about every other public facing application 
  depends on it. 
  Facebook's installation is said to deliver a 99% cache hit rate 
  while servicing tens of thousands of requests a second.
  <br/><br/> 
  There are many ways to use this elaborate hash table and 
  many ways which are more trouble then they are worth. 
  In our experience the key to use memcached effectively is 
  to ask it for the exact thing you want, but i'm getting ahead of myself.

  %a{:href => 'http://blog.leetsoft.com/2007/5/22/the-secret-to-memcached'}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://blog.leetsoft.com'}
      Tobias L&uuml;tke
    on: 2007/05/22

.blog_post
  %h3
    %a{:href => 'http://errtheblog.com/posts/57-kickin-ass-w-cachefu'}
      Kickin Ass w/ Cache-Fu
  %img{:src => 'http://s3.amazonaws.com/twitter_production/profile_images/58344962/rock_bigger.jpg'}

  Between all the post-punk marching bands, free booze, and falls off fire escapes, 
  I somehow managed to give a presentation on memcached at RailsConf 2007.
  <br/><br/> 
  I've got two versions of my slides available: with notes and without notes.
  
  %a{:href => 'http://errtheblog.com/posts/57-kickin-ass-w-cachefu'}
    Read more &raquo;

  .blog_post_about
    Posted by: 
    %a{:href => 'http://errtheblog.com'}
      Chris Wanstrath
    on: 2007/05/21

