.contact
  .left
    %h2
      Need Help?

    .answer
      %p
        Contact us at 
        = contact_email_address
        <br/><br/>
        We are happy to offer...
        <br/>
  
      -#
        COMMENTED OUT until we figure out real support capability -- steve.yen

        %h3
          Support Programs
    
        %p
          If you need help, we offer several different types of assistance. 
          Our goal is to ensure your success with memcached and deliver 
          a solution to your problems quickly. 
          We offer Community, Enterprise and Global Support Service Levels.
    
        %ul
          %li
            Community Support - 
            Documentation and Mailing List are available to anyone for answers to basic technical questions. 
            These resources are always available to provide you with an immediate answer.
          %li
            Enterprise Support - 
            Direct access to our Support Team by phone. 
            And the ability to manage your cases online.
          %li
            Global Support - 
            24x7x365 support for critical issues, 
            A dedicated resource to manage your account and quarterly review of your deployments.
  
      %h3
        Professional Services
  
      %p
        The memcached experts on our 
        %a{:href => "mailto:#{contact_email_address}"}
          Professional Services
        team are available to help you with design, installation, configuration, 
        customization and integration of memcached.
  
      %h3
        Education Programs
  
      %p
        %a{:href => "mailto:#{contact_email_address}"}
          Education Programs
        help you get the most out of memcached. 
        Courses are concise and structured for rapid learning. 
        Our Education Programs include web-based classes for memcached users, 
        administrators, developers, architects and partners. 
        We can also come on-site to deliver classroom training.

  .right
    .small_block
      %h2 
        Documentation
      .small_block_center
        Get your memcached 
        <br/>
        %a{:href => '/doc/main/Start'}
          Documentation

    .small_block
      %h2 
        Mailing List
      .small_block_center
        Come visit the friendly neighborhood memcached <br/>
        <a href="http://groups.google.com/group/memcached">Mailing List</a>.

    .small_block
      %h2 
        Contact an engineer
      .small_block_center
        Need help from 
        <br/>
        a memcached expert?
        <br/>
        = contact_email_address


