@import blueprint/screen.css

body
  .header
    .header_title
      :color #7070d0
      :letter-spacing 0.1em
      :text-align center
      :width auto
      :font-size 20pt
      :font-weight bold
      a
        :color #7070d0
        :text-decoration none
    ul
      :text-align center
      :width auto
      li
        :display inline
        :padding-left .5em
        :padding-right .5em
  .container
    :max-width 650px
    :margin auto
  .footer
    :clear both
    :margin 40px 0 0 0
    :font-size 0.8em

.headline
  .left
    :float left
    :width 240px
    :margin 0 10px 10px 0
    :background #e0e0ff
    .padded
      :padding 15px 15px 15px 15px
  .middle
    :float left
    :width 180px
    :margin 0 10px 10px 0
    .padded
      :padding 15px 15px 15px 15px
  .right
    :float left
    :width 200px
    :margin 0 0
    :background #f0d0d0
    .padded
      :padding 15px 15px 15px 15px

.quickstart
  :clear both

.question
  :margin-top 1em
  :margin-bottom .5em
  :background #e0e0ff
  :border-bottom 2px dotted blue
  :padding-left 0.5em
  :font-size 13pt
  :font-style italic
  :font-weight bold

.answer
  :padding .5em 2em .5em 2em
  .example
    :margin-top 10px
    :background #d0d0f0
    :padding-left 10px
    :font-family sans-serif
    :font-weight bold
    pre
      :background #e0e0e0
